@model Chartwell.Feature.GeneralContact.Models.GeneralContactModel
@using Sitecore.Mvc.Analytics.Extensions

@Html.Sitecore().VisitorIdentification()

<style>
  .readonlydatepicker .form-control[readonly] {
    background-color: White;
  }
</style>

@using (Ajax.BeginForm("Index", "GeneralContact", new AjaxOptions
{
  HttpMethod = "POST",
  UpdateTargetId = "GeneralContactMsg",
  LoadingElementId = "divLoading"
  //OnBegin = "ClearResults"
}, new { @id = "GeneralContactForm" }))
{
  @Html.ValidationSummary(true)
  @Html.AntiForgeryToken()

  @Html.HiddenFor(m => m.PropertyName)
  @Html.HiddenFor(m => m.NonContactUsFormName)
  @Html.HiddenFor(m => m.ItemLanguage)

  @Html.HiddenFor(m => m.DisplayEmailFirstName)
  @Html.HiddenFor(m => m.DisplayEmailLastName)
  @Html.HiddenFor(m => m.DisplayEmailPhoneNo)
  @Html.HiddenFor(m => m.DisplayEmailId)
  @Html.HiddenFor(m => m.DisplayEmailCityName)
  @Html.HiddenFor(m => m.DisplayEmailVisitDate)
  @Html.HiddenFor(m => m.DisplayEmailVisitTime)
  @Html.HiddenFor(m => m.DisplayEmailQuestion)
  @Html.HiddenFor(m => m.DisplayEmailConsent)
  @Html.HiddenFor(m => m.DisplayRetirementHomesNear)
  @Html.HiddenFor(m => m.DisplayRetirementHomesInAndAround)
  @Html.HiddenFor(m => m.ContactUsConfirmMsg1)
  @Html.HiddenFor(m => m.ContactUsConfirmMsg2)
  @Html.HiddenFor(m => m.PVConfirmationMsg)

<div class="hidden-print resForm" id="chartwellContactForm">

  <h3>@Sitecore.Globalization.Translate.Text("GeneralContactUSMessage")</h3>
  <hr size="1" />
  <h3><a href="tel:1-855-461-0685" class="phoneNumber">1 855 461 0685</a></h3>
  <hr size="1" />

  <div id="GeneralContactMsg">
    <div class="form-group">
      @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control firstName", placeholder = @Sitecore.Globalization.Translate.Text("FirstName") + " (" + Sitecore.Globalization.Translate.Text("Required") + ")" })
      @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
      @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = @Sitecore.Globalization.Translate.Text("LastName") })
      @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
      @Html.TextBoxFor(m => m.ContactPhoneNo, new { mask = "(999) 999-9999", @class = "form-control", placeholder = @Sitecore.Globalization.Translate.Text("PhoneNo") })
      @Html.ValidationMessageFor(m => m.ContactPhoneNo, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
      @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control contactEmail", placeholder = @Sitecore.Globalization.Translate.Text("Email") + " (" + Sitecore.Globalization.Translate.Text("Required") + ")" })
      @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
      @Html.TextBoxFor(m => m.ContactCity, new { @class = "form-control", placeholder = @Sitecore.Globalization.Translate.Text("City") })
      @Html.ValidationMessageFor(m => m.ContactCity, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
      @Html.TextAreaFor(m => m.Question, new { @class = "form-control", placeholder = @Sitecore.Globalization.Translate.Text("Questions") })
      @Html.ValidationMessageFor(m => m.Question, "", new { @class = "text-danger" })
    </div>
    <div class="row readonlydatepicker">
      <div class="col-xs-12">
        @Html.Label(@Sitecore.Globalization.Translate.Text("WouldYouLikeATour"), new { @id = "personalvisit" })
      </div>
      <div class="col-xs-10 form-group">
        @Html.TextBoxFor(m => m.VisitDate, new { @class = "form-control visitdate-" + Sitecore.Context.Language.Name, @id = "visitdate", @placeholder = @Sitecore.Globalization.Translate.Text("PreferredDate") })
        @Html.ValidationMessageFor(m => m.VisitDate, "", new { @class = "text-danger " })
      </div>
      <div class="col-xs-12 form-group">
        @Html.DropDownListFor(m => m.TimeOfDayForVisit, new SelectList(Model.TimeOfDayOfVisitList, "Value", "Text"), new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.TimeOfDayForVisit, "", new { @class = "text-danger" })
      </div>
    </div>



    <div class="row">
      <div class="col-sm-12">
        @Html.Label(@Sitecore.Globalization.Translate.Text("ConsentToConnect") + " (" + Sitecore.Globalization.Translate.Text("Required") + ")")
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group" style="margin-left:30px">
              <div class="radio">
                @Html.RadioButtonFor(m => m.ConsentToConnect, "true", false) @Html.Label(@Sitecore.Globalization.Translate.Text("OptionYes"), new { @style = "padding-left:0px" })
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group" style="margin-left:22px">
              <div class="radio">
                @Html.RadioButtonFor(m => m.ConsentToConnect, "false", false) @Html.Label(@Sitecore.Globalization.Translate.Text("OptionNo"), new { @style = "padding-left:0px" })
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">@Html.ValidationMessageFor(m => m.ConsentToConnect, "", new { @class = "text-danger" })</div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-12 text-center">
        <button type="submit" id="GeneralContactSubmit" value="Submit" class="btn btn-warning" style='width:100px'>@Sitecore.Globalization.Translate.Text("ButtonText")</button>
      </div>
    </div>
  </div>
  <div id="divLoading" style="display:none;">
    <img src="~/Assets/Images/loading.gif" style="position: relative; top: 50%;" />
  </div>




</div>
}
